<h1>プロフィール編集</h1>

<%= form_with model: @user do |f| %>
  <div>name<%= f.text_field :name %></div>
  <div>ろーる<%= f.collection_select(:roll, Roll.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %></div>
  <div><%= f.submit "保存" %></div>
<% end %>